    <footer class="text-center small">
        <ul class="list-inline list-unstyled color-white no-margin line">
            <li><a href="<?php echo $siteurl; ?>/credits.php">Credits</a></li>
            <li><a href="https://github.com/ConciseCSS/concise.css/blob/master/CONTRIBUTING.md">Contributing</a></li>
            <li><a href="https://github.com/ConciseCSS/concise.css/issues" target="_blank">Issues</a></li>
            <li><a href="https://github.com/ConciseCSS/concise.css/wiki/Changelog" target="_blank">Changelog</a></li>
            <li><a href="https://www.gittip.com/keenanpayne/" target="_blank">Gittip</a></li>
            <li><a href="http://twitter.com/ConciseCSS" target="_blank">Twitter</a></li>
            <li><a href="http://facebook.com/ConciseCSS" target="_blank">Facebook</a></li>
            <li class="last"><a href="https://plus.google.com/103423710089455112688" target="_blank">G+</a></li>
        </ul>
        
        <p class="text-uppercase no-margin">Created and Maintained with <span class="icon heart color-red"></span> by <a href="http://keenanpayne.com" title="Keenan Payne" target="_blank">Keenan Payne</a></p>
    </footer>
    
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-23449205-5', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>