{% include head.html %}
  
  {% include header.html %}
  
  <div class="masthead">
      <div class="container center">
          <h1 class="kilo no-margin color-white">Add-Ons</h1>
          
          <h2 class="no-margin">Extend the default Concise with these pre-built add-ons</h2>
      </div><!-- .container -->
              
      <script type="text/javascript" src="//cdn.fusionads.net/fusion.js?zoneid=1332&serve=C6SDP2Y&placement=concisecss" id="_fusionads_js"></script>
  </div><!-- .masthead -->
  
    {{ content }}
    
  {% include footer.html %}