<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
    
    {% include header.html %}
    
    <div class="masthead">
        <div class="container center">
            <h1 class="kilo no-margin color-white">Getting Started</h1>
            
            <h2 class="no-margin">Getting up-and-running with Concise is simple</h2>
        </div><!-- .container -->
        
        <script type="text/javascript" src="//cdn.fusionads.net/fusion.js?zoneid=1332&serve=C6SDP2Y&placement=concisecss" id="_fusionads_js"></script>
    </div><!-- .masthead -->
    
    <div class="container center">
        <div class="row no-margin">
            <div class="column-5 sidebar">
                <nav class="nav-vertical pills nav-responsive-center nav-responsive-text">
                    <ul>
                        <li class="text-uppercase">Overview</li>
                        <li><a href="{{ site.baseurl }}/get-started/index">Principles</a></li>
                        <li><a href="{{ site.baseurl }}/get-started/getting-started">Getting Started</a></li>
                        <li><a href="{{ site.baseurl }}/get-started/disabling-responsiveness">Disabling Responsiveness</a></li>
                        <li><a href="{{ site.baseurl }}/get-started/disabling-html5">Disabling HTML5</a></li>
                        <li><a href="{{ site.baseurl }}/get-started/normalize">Normalize</a></li>
                        <li><a href="{{ site.baseurl }}/get-started/
                        recommended-javascript-libraries">Recommended JavaScript Libraries</a></li>
                    </ul>
                </nav><!-- .nav-vertical -->        
            </div><!-- .column-5 -->
        
            <div class="column-19 content">
                {{ content }}
            </div><!-- .column-19 -->
        </div><!-- .row -->
    </div><!-- .container -->

    {% include footer.html %}

    </body>
</html>